:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: #256377;
    color: whitesmoke;
    max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}


main {
  max-width: 500px;
  margin: auto;
}



form button {
  font: inherit;
  margin-bottom: 1em;
  border-radius: 10px;
  color: #256377;
  border: none;
  cursor: pointer;
  
}


input {  
  font: inherit;
  margin-bottom: 1em;
  border-radius: 10px;
  padding-left: 15px;
  border: none;

 
}

textarea {
  font: inherit;
    margin-bottom: 1em;
    border-radius: 10px;
    padding-left: 15px;
    height: 200px;

}

select {
  font: inherit;
  margin-bottom: 1em;
  border-radius: 10px;
  text-indent: 10px;
  

}


header {
  max-width: 500px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color:#256377;
  position: sticky;
 margin: auto;
  top: 0;  
  border-radius: 10px;
}


nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  
 
}


nav ul { 
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  justify-content: center;
  margin-right: 10px;
  margin-top: 0px;
  
  
}





nav ul li:last-child {
  margin-right: 0px;
}


nav a,
nav a:visited {
  color:#256377;
  padding: 4px 8px;
  
 
  
}




li a:focus,
a:hover {  
  background-color: whitesmoke ;
    border-radius: 10px;
    padding: 4px 8px;
    color:#256377;

}

li {
  list-style: none;  
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  
}

li:visited {
  
  list-style: none;
  
  
}

nav a:hover,
nav a:focus {
  background-color: #256377;
  border-radius: 10px;
  padding: 4px 8px;  
  color: whitesmoke;
  
}






main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin-bottom: 0.5em;  
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
  margin-top: 2.5em;

 
}

h1 {
  font-size: 3.5rem;
}


h2 {
  margin-bottom: 0.5em;
  text-transform: uppercase;

}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
  
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;

}


.post {
  font-size: 1rem;
  

  
}

.post a,
.post a:visited {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    padding: 4px 8px;
    color: whitesmoke;
    margin-right: 0.5rem;
    
  
  }

.post a:hover,
.post a:focus {
  color: #256377;  
  background-color: whitesmoke;
}

.reaction {
  margin: 0 1em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
}

span {
  margin-left: 10px;
}


.excerpt {
  font-style: italic;
}



form .delete-button {
  background-color:rgb(224, 101, 101);
  color: #256377;
  border: none;
  cursor: pointer;
  margin-bottom: 0px;
}


 form .delete-button:hover,
 form .delete-button:focus {  
  background-color: rgb(224, 61, 61);
}




.loader {
  position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: invert(25%);
}


header nav button {
  font: inherit;
  margin-left: 10px;
  margin-bottom: 0px;
  border: none;
  color: #256377;
  padding: 4px 8px;
  cursor: pointer;
  
  
  
  
}

header nav button:hover,
header nav button:focus {
  color: whitesmoke;
  background-color: #256377 ;
  border-radius: 10px;
  padding: 4px 8px;
  
}

nav button:visited {  
    padding: 4px 8px;
    color: whitesmoke;
  



}