:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: #256377;
    color: whitesmoke;
    max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin-bottom: 0.5em;  
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;

 
}

h1 {
  font-size: 3.5rem;
}


h2 {
  margin-bottom: 0.5em;
  text-transform: uppercase;

}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
  
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;

}


.post {
  font-size: 1rem;
  
}


.reaction {
  margin: 0 1em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
}

